body {
  background-color:#FCBF49;
  background-repeat:round;
  background-size:contain;
}
header, nav, main {
  justify-content:center;
}
.contenedor {
  width:100%;
}
.pictureBottom{
  width: 99%;
  height:100%;
}
nav{ /*etiqueta para delimitar el menu*/
  background: #D787B5;
  width: 99%
}
.menu{
  display:inline-flex;
  color: #5C374C;
  text-decoration:none;
  font-family:'Courier New', Courier, monospace
}
button:hover, select:hover{
  background:#FFDAC6;
  justify-content:space-between;
}
.menu{
  padding: 10px;
  transition:all ease-in-out 100ms;
}
button,select{
  justify-content:space-between;
  align-items: center;
  border:none;
}
.card{
  display:flex;
  flex-wrap:wrap;
}
.cards{
    background-color: #CE6A85;
    height: 120px;
    width: 230px;
    margin-left: 20px;
    margin-top:25px;
    border-radius: 15px;
  }
  .cardsPat {
    width: 10cm;
    height:8cm;
    margin-left: 20px;
    margin-top:25px;
    background-image: url(./assets/spectropatronus.png);
   
  }
  h4 {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 41px;
    display: flex;
    align-items: center; 
    color: #010001; 
    justify-content: center; 
  }
 p{
  font-style: 'Meriweather';
  font-weight: bold;
  font-size: 20px;
  line-height: 41px;
  display: flex;
  align-items: safe center; 
  color:#FFDAC6; 
  justify-content: center;
}


