body {
  background-color:wheat;
  background-repeat:round;
  background-size:contain;
}
.contenedor {
  width:100%;
}
header{
  background-image: url(./assets/castle.jpg);
}

nav{ /*etiqueta para delimitar el menu*/
  height: 20%;
  width:99%; 
}
.menu{
  background-color: #2C567F;
  color: #D1D1D1;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}
.percente{
  background:#FFDAC6; 
}
main{
  background-image:url(assets/botton.png);
}
.menu{
  padding: 10px;
  transition:all ease-in-out 100ms;
}
button,select{
  justify-content:space-between;
  align-items: center;
  border:none;
}
.card{
  display:flex;
  flex-wrap:wrap;
}

.cards{
    height: 150px;
    width:280px;
    margin-left: 20px;
    margin-top:25px;
    background-color: #CCDB3D;
    padding:2%;
    justify-content: center;
}

  h4 {
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 35px;
    line-height: 100px;
    display:grid;
    justify-content: center; 
  }
h2{
  color:#000000;
  font-family: 'Tiro Devanagari Hindi', serif;
  font-size: 30px;
  line-height: 100px;
}
 p{ /*texto que va dentro de las tarjetas*/
  font-family: 'Tiro Devanagari Hindi', serif;
  font-size: 30px;
  color:#2D2D2D;
  justify-content: center; 
}
.mensajes{
  background-color: #FCBF49;
  padding: auto;
}
#foto{
  width:40cm;
  height:25cm;
  justify-self: center;
}


