body {
  background-color:wheat;
  background-repeat:round;
  background-size:contain;
}
.contenedor {
  width:100%;
}
.pictureBottom{
  width: 99%;
  height:100%;
}

nav{ /*etiqueta para delimitar el menu*/
  height: 20%;
  width:99%;
  
}
.menu{
  background-color: #2C567F;
  color: #F0FE89;
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}
.percente{
  background:#FFDAC6; 
}
main{
  background-image:url(assets/castle.jpg)
}
button:hover, select:hover{
  background:#FFDAC6;
  
}
.menu{
  padding: 10px;
  transition:all ease-in-out 100ms;
}
button,select{
  justify-content:space-between;
  align-items: center;
  border:none;
}
.card{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:center;
}
.cards{
    height: 200px;
    width: 400px;
    margin-left: 20px;
    margin-top:25px;
    border-radius: 15px;
    border:color #360503;
    border-width: 1.5px;
    border-style: solid;
    color:#360503;
    background-color: #CCDB3D;
  }
  .cardsPat {
    width: 10cm;
    height:8cm;
    margin-left: 20px;
    margin-top:25px;
    background-image: url(./assets/spectropatronus.png);
   
  }
  h4 {
    font-family: 'Tiro Devanagari Hindi', serif;
    font-size: 35px;
    line-height: 100px;
    display:grid;
    justify-content: center; 
  }
 p{
  font-style: 'Meriweather';
  font-weight: bold;
  font-size: 20px;
  line-height: 41px;
  display: flex;
  align-items: safe center; 
  color:#FFDAC6; 
  justify-content: center;
}


